
{% extends 'main/base.html' %}
{% load static %}

{% block title %}Home | Udhaya{% endblock %}

{% block content %}

<div class="text-center">
    <img src="https://avatars.githubusercontent.com/u/152418399?s=400&u=0d730dee8708dab683fc07e9b3fda8ffbb1149fb&v=4" class="rounded-circle shadow" width="150" alt="Udhaya's Photo">
    
    <h1 class="mt-4">👋 Hello, I'm <strong>Udhaya Kumar RV</strong></h1>
    <p class="lead mt-2">I am a <span class="typing"></span></p>

    <a href="/static/Udhaya_Resume.pdf" class="btn btn-outline-info mt-3" download>📄 Download Resume</a>

    <div class="mt-4">
        <a href="https://github.com/Udhayakumar2025" target="_blank" class="btn btn-dark btn-sm me-2">GitHub</a>
        <a href="https://www.linkedin.com/in/udhaya-kumar-rv/" target="_blank" class="btn btn-primary btn-sm">LinkedIn</a>
    </div>
</div>
{% endblock %}
