{% extends 'main/base.html' %}
{% block title %}Projects | Udhaya{% endblock %}

{% block content %}
<h1 class="text-center mb-4">💼 My Projects</h1>

<div class="card mb-4 bg-dark text-light border-info">
  <div class="card-body">
    <h5 class="card-title">📘 Bookstore REST API</h5>
    <p class="card-text">Built with Django REST Framework. Supports CRUD, auth, search & sorting.</p>
    <a href="https://github.com/Udhayakumar2025/bookstore-rest-api" class="btn btn-outline-info" target="_blank">View on GitHub</a>
  </div>
</div>

<div class="card mb-4 bg-dark text-light border-success">
  <div class="card-body">
    <h5 class="card-title">✅ Task Manager App</h5>
    <p class="card-text">Django app to create, edit, delete tasks with user login & database.</p>
    <a href="https://github.com/Udhayakumar2025/task-manager-django" class="btn btn-outline-success" target="_blank">View on GitHub</a>
  </div>
</div>
{% endblock %}
